/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-may-2018, 17:47:49
    Author     : pepe
*/

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


.row.content {height: 450px}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

.container-fluid{
  padding-top: 20px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

#logout{
     display: flex; justify-content: center;
}